/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');*/

.create-community {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #0093E9 linear-gradient(to right, #0c2363, #1d6bba);

    border-radius: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}



.create-community h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.create-community form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input[type="text"],
.form-group textarea {
    width: 550px;
    padding: 12px;
    border: 1px solid #d7dadc;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1a1a1b;
    transition: all 0.2s ease-in-out;
}

.form-group textarea {
    height: 120px;
    resize: none;
}

button[type="submit"] {
    background-color: #fff;
    color: #ff2d55;
    padding: 10px 18px;
    width: 550px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'IBM Plex Sans', sans-serif;
}

button[type="submit"]:hover {
    background-color: #ff8c00;
    color: #fff;
}

